/build/classes/java/main/engine/Camera.class
/assets/textures/grassTexture.jpg
/build/tmp/compileJava/compileTransaction/stash-dir/LevelEditorScene.class.uniqueId0
/assets/textures/oncaFofa.jpg
/assets/textures/portalCube.jpg
/build/classes/java/main/renderer/Shader.class
/build/classes/java/main/renderer/Texture.class
/build/tmp/compileJava/compileTransaction/stash-dir/Window.class.uniqueId1
